.select {
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	color: #006699;
}

.modulo {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	cursor:pointer;
	border-top: 1px solid #CCCCCC;
	background-color: #E0E0E0;
	padding: 3px;
}

.menuBODY {
	background-color: #EDEDED;
	border-right: 1px solid #666666
}

.menuTABLE {
	font-family: Verdana, Arial;
	font-size: 10px;
}

.menuTD {
	background-color: #EDEDED;
	border-bottom: 0px dashed #999999
}

.menuTH {
	background-color: #D0D0D0;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	text-align: center;
}


A.menu:LINK {
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	color: #666666;
	text-decoration: none;
}

A.menu:ACTIVE {
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	color: #666666;
	text-decoration: none;
}

A.menu:VISITED {
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	color: #666666;
	text-decoration: none;
}

A.menu:HOVER {
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	color: #000000;
	text-decoration: none;
}